.container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
}

.border {
  border: 4px solid;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.border-red {
  border-color: red;
}

.border-green {
  border-color: lightgreen;
}

.paragraph {
  font-size: 20px;
  font-weight: bold;
}

.red {
  color: red;
}

.green {
  color: lightgreen;
}
