.container {
  display: flex;
  flex-direction: column;
  height: 60vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
  position: relative;
}

.borderCard {
  border: 3px dashed #000;
  position: absolute;
  z-index: 1;
  width: 290px;
  height: 38%;
}
