.bg-image {
  background-size: cover;
  filter: blur(17px) brightness(35%);
  position: relative;
  height: 100vh;
  width: 100vw;
}
.modal-cam {
  position: absolute;
  top: 0%;
}

.button-cancel {
  cursor: pointer;
  background: transparent;
  border: hidden;
  outline: none;
  color: white;
  font-size: larger;
  font-weight: bolder;
  margin-top: 40px;
}
