.bg-image {
  background-size: cover;
  filter: blur(17px) brightness(35%);
  position: relative;
  height: 100vh;
  width: 100vw;
}
.modal-cam {
  position: absolute;
  top: 0%;
}

.button-retake {
  position: absolute;
  z-index: 1;
  color: white;
  background-color: rgb(43, 0, 118);
  outline: none;
  border: hidden;
  border-radius: 50px;
  font-size: 50;
  padding: 30px;
  font-weight: bold;
  cursor: pointer;
}

.button-cancel {
  cursor: pointer;
  background: transparent;
  border: hidden;
  outline: none;
  color: white;
  font-size: larger;
  font-weight: bolder;
  margin-top: 40px;
}

.photo {
  position: absolute;
  border: 4px solid;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.photo-red {
  border-color: red;
}

.photo-green {
  border-color: lightgreen;
}

.img-container {
  position: relative;
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.status {
  width: 100px;
  padding: 5px 10px;
  border-radius: 10px;
  z-index: 1;
  position: absolute;
  right: 36vw;
  bottom: 8vh;
  font-weight: bold;
}

.status-red {
  background-color: red;
}

.status-green {
  background-color: lightgreen;
}
